Flask==1.0.2
kubernetes==6.0.0
gunicorn==19.9.0
requests==2.20.0
python-dateutil==2.7.3

pyasn1>=0.6.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
